/* html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
} */

/* --------------------Burger Menu for mobile nav ---------------- */
.nav-burger-box {
    position: absolute;
    opacity: 1;
    top: 25px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 10;
    visibility: hidden;
    transition: .3s;
}

.nav-bar-transparent {
    opacity: 0;
    transition: .3s;
}

.nav-burger-box-2nd {
    opacity: 1;
    position: fixed;
    top: 25px;
    right: 20px;
    transition: .3s;
}

.bar1, .bar2, .bar3 {
    width: 100%;
    height: 6px;
    background-color: white;
    opacity: .5;
    transition: .2s;
    border-radius: 3px;
}

.bar2{
    position: absolute;
    top: 13px;
}

.bar3{
    position: absolute;
    top: 26px;
}

.bar1clicked {
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    opacity: 1;
    background-color: #f0f0f0;
    transition: .3s;
}

.bar2clicked {
    
    width: 0px;
    transition: .4s;
    position: absolute;
    top: 8px;
}

.bar3clicked {
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    opacity: 1;
    background-color: #f0f0f0;
    transition: .3s;
} 

.modal-nav-menu {
    position: fixed;
    top: 0;
    left: -50vw;
    height: 100%;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.575);
    /* background-color: rgba(0, 0, 0, 0.685); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    transition: .4s ease-out;
}

.modal-nav-menu-visible {
    left: 0;
    transition: .4s ease-out;
}

/* ------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(233, 110, 27);
}

p {
    font-family: 'Rubik', sans-serif; 
    font-size: 19px;
    text-align: right;
}
.testbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5vh;
    border-right: 800px solid rgba(0, 0, 255, 0.623);
    border-bottom: 14vh solid transparent; 
}
    
.top-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5vh;
    border-right: 800px solid rgb(233, 110, 27);
    border-bottom: 14vh solid transparent; 
    /* transform: rotate(3.8deg); */
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -10;
}

.top-bar-transparent {
    border-right: 800px solid transparent;
    -webkit-transition: background-color 0s;
    -moz-transition: background-color 0s;
    -o-transition: background-color 0s;
    transition: background-color 0s;
}

.top-bar-fixed {
    background-color: #978497;
    background-color: #859bd8;
    position: fixed;
    border-bottom: 2vh solid white;
    top: -4vh;
    left: 0;
    width: 103vw;
    height: 22vh;
    transform: rotate(4deg);
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-bar-parallel {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 85vw;
    height: 50vh;
    transform: rotate(4deg);
    display: flex;
    justify-content: flex-end;
}

.about-flex {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    font-family: 'Alatsi', sans-serif;
    color: inherit;
    font-size: 6.5vh;
    text-align: right;
}

h2 {
    font-family: 'Alatsi', sans-serif;
    color: inherit;
    text-align: right;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-family: 'Alatsi', sans-serif;
    font-size: 3vh;
    z-index: 10;
}

a {
    color: white;
}

.nav-bar-top {
    position: absolute;
    left: 31.5vw;
    top: 6vh;
    transform: rotate(3.5deg);
    /* transition: 1s; */
}

.nav-bar {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    z-index: 10;
    transition: 2s;
}

.side-nav {
    position: fixed;
    border-top-left-radius: 2vw;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: .5vw;
    background-color: rgba(0, 0, 0, 0.493);
    z-index: 3;
    transition: all .4s;
}

.side-nav:hover{
    width: 10vw;
    transition: all .8s;
}

.angle1 {
    width: 0vw;
    height: 0vh;
    border-bottom: 250vh solid rgb(233, 110, 27);
    border-right: 50vw solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s;
}

.angle1flat {
    width: 100%;
    height: 0;
    border-bottom: 300vh solid #859bd8;
    border-right: 0 solid transparent;
    position: absolute;
    top: -65vh;
    left: 0;
    transition: all .6s;
}

#scroll-anchor-0 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 20vh;
    left: 50vw;
  }

#scroll-anchor-1 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50vh;
    left: 50vw;
  }

#about {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    transition: all 2s;    
}

#portfolio {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 110vh;
    left: 0;
    transition: all 2s;    
}

#contact {
    width: 1px;
    height: 1px;
    transition: all 2s;        
}

.outside-orange{
    position: absolute;
    top: 50vh;
    left: 50vw;
}

.main-pic {
    position: absolute;
    top: 15vh;
    left: 12vw;
    height: 65vh;
    transform: rotate(-4deg);
}

.logo {
    width: 30px;
    padding: 0 10px 0 10px;
}

.link-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.angle2 {
    border-bottom: 100vw;
    border-left: 90vh;
    border-right: 80vh;
    background-color: rgb(233, 110, 27);
    /* width: 0;
    height: 0;
    border-top: 100vh solid transparent;
    border-left: 380vw solid rgb(233, 110, 27); */
    /* height: 200vh; */
    position: absolute;
    top: 260vh;
    left: 0;
    /* width: 100px; */
    /* background-color: rgb(233, 110, 27); */
}

.content-flex-container {
    width: 95vw;
    position: absolute;
    top: 125vh;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* border: 3px solid rebeccapurple; */
    transition: all 1.3s;
}

.portfolio {
    width: 100%;
    min-height: 200px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transition: all 2.5s;
    /* border: 2px solid pink; */
}

.clearclick{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 33px;
}

.portfolio-image {
    width: 100%;
}

.portfolio-text {
    font-size: 30px;
    text-align: center;
}

.clearclick:hover {
    opacity: 0.4;
    transition: all 0.4s ease 0.0s;
}

.portfolio-flex {
    width: 90%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid black; */
}

.fade {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 300vh;
    left: 0;
    background: rgb(233,110,27);
    background: linear-gradient(180deg, rgba(233,110,27,1) 39%, rgba(255,255,255,1) 100%); 
}

.contact-section {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 235vh;
    left: 0;
    background-color: rgb(233, 110, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-title {
    color: white;
    font-size: 40px;
}

.contact-info {
    color: white;
}

.contact-line {
    height: 85px;
    width: 70vw;
    background-color:  #ffffff;
    font-family: 'Rubik', sans-serif;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 0 1vh 0;
}

input {
    width: 85%;
    border: none;
    background: transparent;
    padding-left: 5%;
    color: rgb(233, 110, 27);
    font-size: x-large;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

input:focus {
    outline: none;
}

textarea {
    background: transparent;
    border: none; 
    width: auto;
    resize: none;
    color: rgb(233, 110, 27);
    padding: 10px;
    font-size: 16px;
  }

textarea:focus {
    outline: none;
}

.contact-left-block {
    width: 12%;
    border-right: 3px solid rgb(233, 110, 27);
    background-color: rgba(233, 109, 27, 0.329);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1%;  
    color: rgb(233, 110, 27);  
    font-size: 18px;
    border-radius: 15px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: all 0.9s;  

}

.contact-left-block-hover {
    background-color: rgb(233, 110, 27);
    color: #ffffff;
    width: 13%;
    transform: perspective(100px) rotatey(20deg);
    transition: all 0.9s;
}

.submit-btn {
    border: none;
    border-left: 3px solid rgb(233, 110, 27);
    background: transparent;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(233, 110, 27);  
    font-size: 18px;
    font-family: 'Rubik', sans-serif; 
} 

.submit-btn:hover {
    background-color: rgba(233, 109, 27, 0.329);
    transition: all 0.5s;
}

.submit-btn-clicked {
    background-color: #89c8da;
    color: #3e8ca2;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 1024px) and (min-width: 701px) {
    .main-pic {
        opacity: .4;
        left: 0;
    }
    .testbar {
        height: 7.5vh;
        border-bottom: 9.5vh solid transparent; 
    }
    html {
        scroll-behavior: smooth;
    }
    .nav-bar {
        display: none;
    }
    .nav-burger-box {
        visibility: visible;
    }
    .top-bar-fixed {
        top: -11vh;
    }
    .contact-line {
        width: 90vw;
        height: 60px;
    }
    .contact-left-block {
        justify-content: center;
        font-size: 13px;
        width: 15vw;
    }
    .contact-left-block-hover {
        width: 15vw;
    }
}    

@media screen and (max-width: 700px) {
    .nav-burger-box {
        visibility: visible;
    }

    .top-bar-fixed {
        top: -11vh;
    }

    .side-nav {
        width: 1vw;
    }
    .side-nav:hover {
        width: 22vw;
    } 
    .contact-left-block {
        justify-content: center;
        font-size: 13px;
        width: 15vw;
    }
    .contact-left-block-hover {
        width: 15vw;
    }
    .main-pic {
        height: 55vh;
        left: -25vw;
        opacity: .4;
        transform: rotate(-4deg);
    }
    .about-flex {
        width: 55vw;
    }

    .contact-line {
        width: 90vw;
        height: 60px;
    }
    .submit-btn {
        width: 20%;
        font-size: 14px;
    }
    .nav-bar {
        display: none;
    }
    .overflow-text {
        color: black;
        z-index: 3;
    }
    h1 {
        font-size: 4.5vh;
    }
    .clearclick{
        width: 250px;
    }
    .portfolio-text {
        font-size: 15px;
    }
    .contact-section {
        top: 340vh;
    }
    .angle1flat {
        bottom: 50vh;
        height: 155vh;
    }
    #scroll-anchor-1 {
    top: 72vh;
    }
    html {
        scroll-behavior: smooth;
    }
    .testbar {
        height: 9vh;
        border-bottom: 6.5vh solid transparent; 
    }
}

.disappear {
    position: absolute;
    left: -100vw;
    transition: all 1s;
}

.none {
    display: none;
}

.fadeout {
    opacity: 0;
    transition: 1s;
}
